# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.vsconfig
*.csproj
*.unityproj
*.sln
*.user
*.booproj
*.pidb
*.suo
*.tmp
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
/[Aa]ssets/[Ss]treamingAssets/aa/*
sysinfo.txt
